[workspace]
resolver = "2"

default-members = [
    "ddm",
    "ddmadm",
    "ddmd",
    "ddm-admin-client",
    "util",
    "mg-ddm-verify",
    "tests",
    "rdb",
    "bgp",
    "mg-admin-client",
    "mgadm",
    "mgd",
    "mg-lower",
    "mg-common",
]

members = [
    "lab",
    "ddm",
    "ddmadm",
    "ddmd",
    "ddm-admin-client",
    "console",
    "package",
    "util",
    "mg-ddm-verify",
    "tests",
    "bgp",
    "mg-admin-client",
    "mgadm",
    "rdb",
    "mgd",
    "mg-lower",
    "mg-common",
]

[workspace.dependencies]
slog = { version = "2.7.0", features = ["max_level_trace"] }
slog-term = "2.9.0"
slog-envlogger = "2.2.0"
slog-async = "2.7.0"
slog-bunyan = "2.4.0"
socket2 = { version = "0.4.7", features = ["all"] }
ispf = { git = "https://github.com/oxidecomputer/ispf" }
serde = { version = "1.0.150", features = ["derive"] }
hostname = "0.3.1"
thiserror = "1.0.37"
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "main" }
schemars = { version = "0.8.0", features = [ "uuid" ] }
tokio = { version = "1.21", features = ["full"] }
serde_repr = "0.1.9"
anyhow = "1.0.67"
hyper = "0.14.23"
serde_json = "1.0.89"
libnet = { git = "https://github.com/oxidecomputer/netadm-sys", branch = "get-route" }
percent-encoding = "2.1"
reqwest = { version = "0.11", features = ["json", "stream", "rustls-tls"] }
progenitor = { git = "https://github.com/oxidecomputer/progenitor", branch = "main" }
clap = { version = "4.2.5", features = ["derive", "unstable-styles"] }
tabwriter = { version = "1", features = ["ansi_formatting"] }
colored = "2.0.0"
ctrlc = { version = "3.2.4", features = ["termination"] }
ztest = { git = "https://github.com/oxidecomputer/falcon", branch = "main" }
anstyle = "1.0.0"
nom = "7.1.1"
num_enum = "0.5.7"
pretty-hex = "0.3.0"
pretty_assertions = "1.3.0"
lazy_static = "1.4"
sled = "0.34"
ciborium = "0.2"
http = "0.2"

[workspace.dependencies.dpd-client]
git = "https://github.com/oxidecomputer/dendrite"
branch = "main"
package = "dpd-client"

[workspace.dependencies.dendrite-common]
git = "https://github.com/oxidecomputer/dendrite"
branch = "main"
package = "common"
