[package]
name = "mgd"
version = "0.1.0"
edition = "2021"

[dependencies]
mg-lower = { path = "../mg-lower", optional = true }
mg-common = { path = "../mg-common" }
bfd = { path = "../bfd" }
bgp = { path = "../bgp" }
rdb = { path = "../rdb" }
anyhow.workspace = true
clap.workspace = true
colored.workspace = true
dropshot.workspace = true
schemars.workspace = true
serde.workspace = true
slog.workspace = true
slog-async.workspace = true
slog-term.workspace = true
tokio.workspace = true
http.workspace = true
socket2.workspace = true
thiserror.workspace = true
rand.workspace = true

[features]
default = ["mg-lower"]
